export(ratesplit)
export(affinity)
export(divDyn)
export(tsplot)
export(spCleanse)
export(streaklog)
export(whichmaxstreak)
export(shades)
export(subsample)
export(survivors)
export(sumstat)
export(binstat)
export(omit)
export(parts)
export(categorize)
export(ranges)
export(fadlad)
export(subtrialCR)
export(subtrialSQS)
export(subtrialOXW)
export(indices)
export(singletons)
export(seqduplicated)
export(collapse)

importFrom("Rcpp", evalCpp)
importFrom("grDevices", "col2rgb", "rgb")
importFrom("graphics", "abline", "plot", "polygon", "rect", "text", "clip", "par", "points", "segments")
importFrom("stats", "binom.test", "dbinom", "loess", "median",
    "pbinom", "predict", "quantile")
importFrom("utils", "flush.console")

useDynLib(divDyn, .registration = TRUE)