export(ratesplit)
export(affinity)
export(crDD)
export(divDyn)
export(fadLad)
export(plotTS)
export(spCleanse)
export(streaklog)
export(whichmaxstreak)
export(shades)
export(subseries)


importFrom("Rcpp")
useDynLib(divDyn)